@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
	height: 100%;
}

.hide-scrollbar::-webkit-scrollbar {
	display: none;
}

.box-shadow {
	@apply shadow-[0_0_10px_1px_rgba(255,255,255,0.3)];
}

.no-focus {
	@apply focus-within:ring-0 focus-within:ring-offset-0 focus-visible:ring-0 focus-visible:ring-offset-0 !important;
}

.button__icon-hover {
	@apply rounded-full hover:bg-gray-300/50 transition-all;
}

/* font */
.font-lato {
	font-family: "Lato", sans-serif;
}

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 222.2 84% 4.9%;

		--card: 0 0% 100%;
		--card-foreground: 222.2 84% 4.9%;

		--popover: 0 0% 100%;
		--popover-foreground: 222.2 84% 4.9%;

		--primary: 222.2 47.4% 11.2%;
		--primary-foreground: 210 40% 98%;

		--secondary: 210 40% 96.1%;
		--secondary-foreground: 222.2 47.4% 11.2%;

		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 16.3% 46.9%;

		--accent: 210 40% 96.1%;
		--accent-foreground: 222.2 47.4% 11.2%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 40% 98%;

		--border: 214.3 31.8% 91.4%;
		--input: 214.3 31.8% 91.4%;
		--ring: 222.2 84% 4.9%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 222.2 84% 4.9%;
		--foreground: 210 40% 98%;

		--card: 222.2 84% 4.9%;
		--card-foreground: 210 40% 98%;

		--popover: 222.2 84% 4.9%;
		--popover-foreground: 210 40% 98%;

		--primary: 210 40% 98%;
		--primary-foreground: 222.2 47.4% 11.2%;

		--secondary: 217.2 32.6% 17.5%;
		--secondary-foreground: 210 40% 98%;

		--muted: 217.2 32.6% 17.5%;
		--muted-foreground: 215 20.2% 65.1%;

		--accent: 217.2 32.6% 17.5%;
		--accent-foreground: 210 40% 98%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 210 40% 98%;

		--border: 217.2 32.6% 17.5%;
		--input: 217.2 32.6% 17.5%;
		--ring: 212.7 26.8% 83.9%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

/* ==== OnBoarding ==== */
.onboarding__input {
	@apply no-focus text-black-200 py-6 px-3 rounded-xl font-normal;
}

.onboarding__textarea {
	@apply no-focus !text-black-200 p-3 rounded-xl font-normal;
}

/* ==== Profile ==== */
.profile__formItem {
	@apply relative w-full;
}

.profile__formItem-top {
	@apply absolute top-3 left-0 px-3 flex items-start justify-between w-full text-gray-200 text-sm;
}

.profile__input {
	@apply no-focus bg-transparent border-none ring-[1px] focus:!ring-[2px] rounded text-gray-100 placeholder:text-gray-200 text-lg font-normal !important;
}

.profile__input-empty {
	@apply ring-gray-300 focus-within:!ring-gray-300 py-7;
}

.profile__input-empty__name {
	@apply ring-red-500 focus-within:!ring-red-500 py-7;
}

.profile__input-error {
	@apply ring-red-500 focus-within:!ring-red-500 pt-12 pb-5;
}

.profile__input-success {
	@apply ring-gray-300 focus-within:!ring-blue pt-12 pb-5;
}

.profile__textarea {
	@apply no-focus bg-transparent border-none ring-[1px] focus:!ring-[2px] rounded text-gray-100 placeholder:text-gray-200 text-lg font-normal resize-none overflow-hidden !important;
}

.profile__textarea-empty {
	@apply ring-gray-300 focus-within:!ring-gray-300 p-3;
}

.profile__textarea-error {
	@apply ring-red-500 focus-within:!ring-red-500 py-8;
}

.profile__textarea-success {
	@apply ring-gray-300 focus-within:!ring-blue py-8;
}

/* ==== Notifications ==== */
.notifications__component {
	@apply flex flex-row justify-start items-start gap-x-1 px-3 py-4 hover:bg-gray-300/90 border-b border-gray-300 cursor-pointer;
}

.notifications__component-body {
	@apply w-full flex flex-row items-start justify-between gap-x-8;
}

.notifications__component-body__unread {
	@apply w-[8px] h-[8px] bg-blue rounded-full;
}

.notifications__component-disabled {
	pointer-events: none;
	opacity: 0.6;
	cursor: not-allowed;
}
